---
import ArrowRight from "./svgs/ArrowRight.astro";
import type { ImagePosition } from "../models/work";

interface Props {
  title: string;
  subtitle: string;
  image: string;
  imagePosition?: ImagePosition;
  variant?: "blue" | "green" | "purple";
  slug: string;
}

const {
  title,
  subtitle,
  image,
  imagePosition = "fill",
  variant = "blue",
  slug
} = Astro.props;
---

<a
  class:list={[
    "card",
    {
      green: variant === "green",
      blue: variant === "blue",
      purple: variant === "purple"
    }
  ]}
  href={slug}
>
  <p class="subtitle">{subtitle}</p>
  <h2 class="title">{title}</h2>
  <div class="image-holder">
    <img
      class:list={["image", { center: imagePosition === "center" }]}
      src={image}
      alt={title}
    />
  </div>

  <div
    class:list={[
      "fab",
      {
        green: variant === "green",
        blue: variant === "blue",
        purple: variant === "purple"
      }
    ]}
  >
    <ArrowRight />
  </div>
</a>

<style lang="scss">
  .card {
    position: relative;
    padding: 3.2rem 4.8rem;
    border-radius: 4.8rem;
    height: 38rem;
    overflow: hidden;
    cursor: pointer;
    text-decoration: none;

    &:hover {
      color: var(--foreground);
    }

    &.green {
      background: var(--background-surface-1);
    }

    &.blue {
      background: var(--background-surface-2);
    }

    &.purple {
      background: var(--background-surface-3);
    }

    @media (max-width: 600px) {
      height: 30rem;
      padding: 2.4rem 3.4rem;
      border-radius: 3.4rem;
    }
  }

  .subtitle {
    font-size: var(--font-size-s);
    margin: 0;
    text-align: right;

    @media (max-width: 600px) {
      font-size: var(--font-size-xs);
    }
  }

  .title {
    font-size: var(--font-size-xl);
    margin-top: 0;
    margin-bottom: 3.2rem;
    text-align: right;

    @media (max-width: 600px) {
      font-size: var(--font-size-l);
      margin-bottom: 2.4rem;
    }
  }

  .image-holder {
    position: relative;
    width: 100%;
  }

  .image {
    &.center {
      width: 100%;
    }
  }

  .fab {
    position: absolute;
    right: 3.8rem;
    bottom: 3.8rem;
    border-radius: 50%;

    width: 6.4rem;
    height: 6.4rem;

    display: flex;
    justify-content: center;
    align-items: center;

    &.green {
      background: var(--background-button-1);
    }

    &.blue {
      background: var(--background-button-2);
    }

    &.purple {
      background: var(--background-button-3);
    }

    @media (max-width: 600px) {
      width: 4.8rem;
      height: 4.8rem;
      right: 2.4rem;
      bottom: 2.4rem;

      :global(svg) {
        width: 3.6rem;
        height: 3.6rem;
      }
    }
  }
</style>
